<a href="https://colab.research.google.com/github/burcuaksoy91/python/blob/main/dic_set_inclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dict() = sözlük

boş bir dict oluşturduk

In [ ]:
empty_dict_1 = {}

empty_dict_2 = dict()
print(type(empty_dict_1))

<class 'dict'>

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }
family["name4"]=  "sultan"

print(family)
print(type(family))

{'name1': 'hıdır', 'name2': 'burcu', 'name3': 'betül', 'name4': 'sultan'}
<class 'dict'>

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [ ]:
my_dict = {'key1': 'value1',
            'key2': 'value2',
            'key3': 'value3'
            }
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
dict_by_dict = dict(animal ='dog', planet= 'neptun', number=40, pi= 3.14, is_good= True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

dict() ile oluşturduk.

In [ ]:
family = dict(name1 ="burcu", name2 ="betül", name3 ="hıdır")
family

{'name1': 'burcu', 'name2': 'betül', 'name3': 'hıdır'}

items()
keys()
values()
metodları en yaygıjn olarak kullanılır.

In [ ]:
dict_by_dict ={"animal" : "dog",
               "planet" :"neptun",
               "pi": 3.14,
               "is_good" :True}   
    
print(dict_by_dict.keys())
print(dict_by_dict.items())
print(dict_by_dict.values())

dict_keys(['animal', 'planet', 'pi', 'is_good'])
dict_items([('animal', 'dog'), ('planet', 'neptun'), ('pi', 3.14), ('is_good', True)])
dict_values(['dog', 'neptun', 3.14, True])

dict()-------list() 'ye cevirdik.

In [ ]:
dict_by_dict ={"animal" : "dog",
               "planet" :"neptun",
               "pi": 3.14,
               "is_good" :True}   

print(list(dict_by_dict.items()))
a = list(dict_by_dict.keys())
a[3] = "is_bad"
print(a)
print(list(dict_by_dict.values()))

[('animal', 'dog'), ('planet', 'neptun'), ('pi', 3.14), ('is_good', True)]
['animal', 'planet', 'pi', 'is_bad']
['dog', 'neptun', 3.14, True]

.update() ile değiştirdi.

In [ ]:
dict_by_dict ={"animal" : "dog",
               "planet" :"neptun",
               "pi": 3.14,
               "is_good" :True}   
dict_by_dict.update({"animal" : "cat"})
print(dict_by_dict)

{'animal': 'cat', 'planet': 'neptun', 'pi': 3.14, 'is_good': True}

.update() ile sözlüğe yeni değerler ekledik.

In [ ]:
dict_by_dict ={"animal" : "dog",
               "planet" :"neptun",
               "pi": 3.14,
               "is_good" :True}   
dict_by_dict.update({"a" : 1, "b" : 2})
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'pi': 3.14, 'is_good': True, 'a': 1, 'b': 2}

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }
family.update({"name4" : "hülya"}) 

print(family)
print(type(family))

{'name1': 'hıdır', 'name2': 'burcu', 'name3': 'betül', 'name4': 'hülya'}
<class 'dict'>

KeyError: ignored

In [ ]:
dict_by_dict ={"animal" : "dog",
               "planet" :"neptun",
               "pi": 3.14,
               "is_good" :True}   
del dict_by_dict["animal"]
print(dict_by_dict)

{'planet': 'neptun', 'pi': 3.14, 'is_good': True}

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }

del family["name2"]
del family["name3"]

print(family)
print(type(family))

{'name1': 'hıdır'}
<class 'dict'>

tek satırla silmek

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }
del family["name2"], family["name3"]
print(family)

{'name1': 'hıdır'}

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }

del family["name5" and "name1"]
print(family)

{'name2': 'burcu', 'name3': 'betül'}

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }
"hıdır" in family.values()

True

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }

"name5" in family

False

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }
          
"name5" not in family

True

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }
        
print("name" in family)

False

In [ ]:
family = {
          "name1" : "hıdır",
          "name2" : "burcu",
          "name3" : "betül"
          }

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["personal_info"])

{'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["personal_info"]["kid"])

{'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["personal_info"]["kid"]["tom"])

{'class': 'intermediate', 'age': 10}

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["personal_info"]["kid"]["tom"]["class"])

intermediate

In [ ]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

print(school_records["grades_info"]["teen"]["joseph"])
print(list(school_records["grades_info"]["teen"]["joseph"].values()))

{'coding': 80, 'math': 89}
[80, 89]

iç içe dictionary oluşturduk

In [ ]:
friends ={ "friend1": {"firs": "Sue", "last" : "Bold"},
     
            "friend2": {"first": "David", "last" : "Jusie"}}

print(friends)

{'friend1': {'firs': 'Sue', 'last': 'Bold'}, 'friend2': {'first': 'David', 'last': 'Jusie'}}

In [ ]:
kıtalar = {
    "ülkeler" : {
        "başkentler" : {"türkiye":"Ankara", "Germany" :"Berlin"}
        },
    "denizler" : {
       "tuzlu" : { "Asya": "Mısır", "Avrupa" :"Holanda"},
       "tuzsuz" : {"Kuzey ":"Karadeniz"}
       }
       }
print(kıtalar)

{'ülkeler': {'başkentler': {'türkiye': 'Ankara', 'Germany': 'Berlin'}}, 'denizler': {'tuzlu': {'Asya': 'Mısır', 'Avrupa': 'Holanda'}, 'tuzsuz': {'Kuzey ': 'Karadeniz'}}}

daha da derinleştirdik

In [ ]:
favourite = {
    "friends" : {
        "friend1": {"first" : "Sue", "last" : "bold"}, 
        "friend2" : {"first" : "burcu", "last" : "betul"}
        },
        "familys" : {
            "family1" : {"first": "hülya", "last" : "nuri"},
            "family2": {"fisrt": "nilgün", "last" : "ahmet"}
            }
             }
print(favourite)

{'friends': {'friend1': {'first': 'Sue', 'last': 'bold'}, 'friend2': {'first': 'burcu', 'last': 'betul'}}, 'familys': {'family1': {'first': 'hülya', 'last': 'nuri'}, 'family2': {'fisrt': 'nilgün', 'last': 'ahmet'}}}

set() = kümeler

In [ ]:
set_1 = {"red", "blue", "pink", "red"}
colors = "red", "blue", "pink", "red"
print(colors)
set_2 = set(colors)
print(set_1)
print(set_2)

('red', 'blue', 'pink', 'red')
{'pink', 'blue', 'red'}
{'pink', 'blue', 'red'}

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'orchid', 'violet', 'rose', 'carnation'}
['orchid', 'violet', 'rose', 'carnation']

In [ ]:
letter = "a b c d e f g h ı j k l m n o p r s t u v y z".split()
print(set(letter))

{'r', 'l', 'h', ' ', 'b', 'e', 'o', 'p', 'y', 'm', 'd', 'f', 'c', 'n', 't', 'j', 'a', 'k', 's', 'g', 'u', 'z', 'ı', 'v'}

In [ ]:
letter1 = " s t u v y z g h ı j k l m n a b c d e f o p r ".split()
print(letter1)

['s', 't', 'u', 'v', 'y', 'z', 'g', 'h', 'ı', 'j', 'k', 'l', 'm', 'n', 'a', 'b', 'c', 'd', 'e', 'f', 'o', 'p', 'r']

In [ ]:
letter1 = " s t u v y z g h ı j k l m n a b c d e f o p r ".split()
print(set(letter1))

{'u', 'd', 's', 'm', 'ı', 'e', 'r', 't', 'n', 'b', 'k', 'j', 'v', 'l', 'g', 'f', 'h', 'c', 'y', 'z', 'a', 'o', 'p'}

In [ ]:
test = {1, "bir", 1.0}
print(type(test))
len(test)

<class 'set'>

2

In [ ]:
1 == 1.0

True

boş küme oluşturma

In [ ]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [ ]:
a = {"buket", "yasemin", "çiçek", "lavanta"}
b = {"buket", "yasemin", "karpuz", "lavanta"}

a == b

False

These methods are :

.add() : Adds a new item to the set.

.remove() : Allows us to delete an item.

.intersection() : Returns the intersection of two sets.

.union() : Returns the unification of two sets.

.difference() : Gets the difference of two sets.

In [ ]:
a = set('abracadabra')

print(a)

.difference metodu ile iki kümenin farkını veriyor

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b
print(b.difference(a)) # b diffrence from a

{'r', 'b', 'd'}
{'r', 'b', 'd'}
{'l', 'z', 'm'}

.intersection ile iki kümenin kesişimini veriyor.

In [ ]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'c', 'a'}
{'c', 'a'}

.remove yöntemi ile set() yığınının içinden value sileblyrz.

In [ ]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

.add metodu ile set() yığınına value ekleyeblyrz

In [ ]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

{'d', 'a', 'b', 'r', 'c'}

In [ ]:
print(len(set('listen to the voice of enlisted')))
print(set('listen to the voice of enlisted'))
print(list('listen to the voice of enlisted'))
print(tuple('listen to the voice of enlisted'))

13
{'v', 'd', 's', 'c', 'l', 't', 'n', ' ', 'f', 'e', 'o', 'h', 'i'}
['l', 'i', 's', 't', 'e', 'n', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'v', 'o', 'i', 'c', 'e', ' ', 'o', 'f', ' ', 'e', 'n', 'l', 'i', 's', 't', 'e', 'd']
('l', 'i', 's', 't', 'e', 'n', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'v', 'o', 'i', 'c', 'e', ' ', 'o', 'f', ' ', 'e', 'n', 'l', 'i', 's', 't', 'e', 'd')

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

assignment-1

Task - 1 :
You work for a manufacturer as a programmer and have been asked to calculate the total profit made on the sales of a product. You are given a dictionary (sales) containing the cost price per unit (in dollars), sell price per unit (in dollars), and the beginning inventory. Write a program to return the total profit made, rounded to the nearest dollar. Assume all of the inventory has been sold. The name and the keys of the dictionary are constant, so use them as they are.

In [ ]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

result = (sales["sell_value"]-sales["cost_value"])*sales["inventory"]
print("{:.2f} karınız".format(result))

13130.00 karınız

In [ ]:
sales = {
  "cost_value": 31.87,
  "sell_value": 45.00,
  "inventory": 1000
}  

profit = round((sales["sell_value"]-sales["cost_value"])*sales["inventory"])
print("The profit will be:", profit)

The profit will be: 13130

Task - 2 :
Your boss wants you to prepare the payrolls of the workers in your department. You have to convert the amount of dollars into payroll format. In order to help move things along, you have volunteered to write a code that will take a float and return the money in the following format (as dollars and cents).

In [ ]:
maas_bordosu ={
    "Ali" :float(round(123)),
    "Hüseyin" :float(round(450.99)),
    "Burcu" :float(round(23.78))
    }
#maas_bordosu.update(float(round({"Ali"},{"Hüseyin"})))
print("${:.2f}, ${:.2f}, ${:.2f} ".format(maas_bordosu["Ali"], maas_bordosu["Hüseyin"], maas_bordosu["Burcu"]))

$123.00, $451.00, $24.00

In [ ]:
ali_maas = float(input("Alinin maasını giriniz: "))
hüseyin_maas = float(input("Hüseyinin maasını giriniz: "))
burcu_maas = float(input("Burcu'nun maasını giriniz: "))


maas_bordosu ={
    "Ali" : ali_maas,
    "Hüseyin" :hüseyin_maas,
    "Burcu" :burcu_maas
    }

maas_bordosu.update({"Ali": ali_maas})
maas_bordosu.update({"Hüseyin" : hüseyin_maas})
maas_bordosu.update({"Burcu" : burcu_maas})

print("${:.2f}, ${:.2f}, ${:.2f} ".format(maas_bordosu["Ali"], maas_bordosu["Hüseyin"], maas_bordosu["Burcu"]))

Alinin maasını giriniz: 12
Hüseyinin maasını giriniz: 21
Burcu'nun maasını giriniz: 33.2
$12.00, $21.00, $33.20

In [ ]:
ali_maas = str(float(input("Alinin maasını giriniz: ")))
hüseyin_maas = str(float(input("Hüseyinin maasını giriniz: ")))
burcu_maas = str(float(input("Burcu'nun maasını giriniz: ")))

maas_bordosu ={
    "Ali" : ali_maas,
    "Hüseyin" :hüseyin_maas,
    "Burcu" :burcu_maas
    }

maas_bordosu.update({"Ali": "$" + "ali_maas"})
maas_bordosu.update({"Hüseyin" : hüseyin_maas})
maas_bordosu.update({"Burcu" : burcu_maas})


print(maas_bordosu)
#print("${:.2f}, ${:.2f}, ${:.2f} ".format(maas_bordosu["Ali"], maas_bordosu["Hüseyin"], maas_bordosu["Burcu"]))

Alinin maasını giriniz: 32
Hüseyinin maasını giriniz: 44
Burcu'nun maasını giriniz: 66
{'Ali': '$ali_maas', 'Hüseyin': '44.0', 'Burcu': '66.0'}

.issubset()

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [ ]:
left_hand = set("qazwsxedcrfvtgb")
right_hand = set("yhnujmıköolçolpşğiü")
#both_hand = left_hand.union(right_hand)

word = set(str.lower(input("Kelime giriniz: ")))

result =  not left_hand.isdisjoint(word) and not right_hand.isdisjoint(word)

print("Your word is comfortable Word: {}".format(result))

Kelime giriniz: al
Your word is comfortable Word: True

In [ ]:
left_hand = set("qazwsxedcrfvtgb")
right_hand = set("yhnujmıköolçolpşğiü")
#both_hand = left_hand.union(right_hand)

word = set(str.lower(input("Kelime giriniz: ")))

result =  not (word.issubset(left_hand) or word.issubset(right_hand))

print("Your word is comfortable Word: {}".format(result))

Kelime giriniz: al
Your word is comfortable Word: True

In [ ]:
left_hand = set("qazwsxedcrfvtgb")
right_hand = set("yhnujmıköolçolpşğiü")
word = set(input("kelime:"))
leftcheck = bool(word.intersection(left_hand))
rightcheck = bool(word.intersection(right_hand))

word.difference(left_hand)

kelime:derya

{'y'}

Interviewers : Facebook, Adobe, Airbnb
Group Anagrams
Given a list of strings, group anagrams together.
Example:
Input:
["eat", "tea", "tan", "ate", "nat", "bat"],
Output:
[
  ["ate","eat","tea"],
  ["nat","tan"],
  ["bat"]
]
Note:
All inputs will be in lowercase.
The order of your output does not matter.

In [ ]:
liste=["eat", "tea", "tan", "ate", "nat", "bat"]
sorted_list=[]
sonuc=[]
for i in liste:
  if sorted(i) not in sorted_list:
    sorted_list.append(sorted(i))
for a in range(len(sorted_list)):
  sonuc.append([i for i in liste if sorted(i)==sorted_list[a]])
print(sonuc)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
ITF_Cohort008-me_a21={
    "Paths":
        {"Aws/Devops":{
            "Ahmet": {"class": "intermediate", "age": 25},
            "Suat": {"class": "elementary", "age": 30}
               },
         "Full_Stack_Developer":{
             "Anıl":{"class": "college", "age": 30},
             "Berkay":{"class": "high school", "age": 30}
               },
         "Data_Scince":{
             "Zehra":{"class": "college", "age": 30},
             "Burcu":{"class": "high school", "age": 30}
               },
         "AI":{
             "Emine":{"class": "college", "age": 30},
             "Rabia":{"class": "high school", "age": 30}
             "Mahir":{"class": "high school", "age": 15}
               },
        },
    "grades_info":
        {"Aws/Devops":{
            "Ahmet": {"English": 88, "speech": 69},
            "Suat": {"Linux": 90, "speech": 81}
               },
         "Full_Stack_Developer":{
             "Anıl":{"coding": 80, "math": 89},
             "Berkay":{"coding": 70, "math": 96}
               },
         "Data_Scince":{
             "Zehra":{"coding": 80, "math": 89},
             "Burcu":{"coding": 70, "math": 96}
         "AI":{
             "Emine":{"coding": 80, "math": 89},
             "Rabia":{"coding": 70, "math": 96},
             "Mahir":{"coding": 80, "math": 89},
               },
        },
}
print(ITF_Cohort008-me_a21['Paths']['AI']['Mahir']['age'])

TEAM_WORK SORUSU

In [ ]:
L1 = []
L1.append([1, [2, 3], 4])
L1.extend([7, 8, 9])
print(L1[0][1][1] + L1[2])

11

In [ ]:
T= (1, 2, 3, 4, 5, 6, 7, 8)
print(T[T.index(5)], end = " ")
print(T[T[T[6]-3]-6])

5 8

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [ ]:
set1 = {1, 2, 3}
set2 = set1.copy()
set2.add(4)
print(set1)

{1, 2, 3}

The Most Frequent Element

In [ ]:
	
number = ([1, 3, 7, 4, 3, 0, 3, 6, 3])
frequent_number = max(set(number), key= number.count)
repeat = number.count(sayı)
print("The most frequent number is {} and it was {} times repeated".format(frequent_number,repeat))